:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue:hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grid-container {
    display: grid;
    gap: 2.5rem;
}

body {
    font-size: 15px;
    font-family: Inter, "sans serif";
    padding: 1rem;
}

.mobile-menu-faded-background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: hsl(240, 50%, 0%);
    opacity: 0.5;
    display: none;
}

header {
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

img[alt="Logo"], img[alt="Menu icon"] {
    width: 13vw;
}

img[alt*="Close"] {
    width: 9vw;
    display: none;
    z-index: 10;
    position: fixed;
    left: 85%;

}

nav {
    display: none;
    z-index: 5;
    position: fixed;
    top: 0%;
    left: 30%;
    height: 100vh;
    width: 70vw;
    background-color: var(--off-white);

}

ul {
    list-style-type: none;
    position: relative;
    top: 23%;
    gap: 1rem;
    color: var(--very-dark-blue);
    font-weight:400;
    font-size: 18px;
    padding-left: 1rem;
}

main > article:first-of-type {
    align-items: flex-start;
    gap: 1.3rem;
}

main > article:first-of-type p {
    line-height: 1.7;
}

picture img, .article-image-container img {
    max-width: 100%;
}

h1 {
    font-size: 46px;
    font-weight: 800;
}

p {
    color: var(--dark-grayish-blue);
}

button {
    background-color: var(--soft-red);
    border: none;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 1rem 1.8rem;
    margin-top: 1rem;
}

button, aside h3 {
    color: var(--off-white);
}

aside {
    background-color: var(--very-dark-blue);
    padding: 1rem;
}

aside article {
    border-bottom: 1px solid var(--grayish-blue);
    padding: 1rem 0;
}

aside article:last-of-type {
    border: none;
}

aside h2 {
    color: var(--soft-orange);
}

aside h3 {
    margin-bottom: 1rem;
}

aside p {
    color: var(--grayish-blue);
}

.article-image-container {
    width: 30%;
}

.article-info-container {
    width: 70%;
    margin-left: 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
}

.article-info-container h2 {
    color: var(--grayish-blue);
    font-size: 8vw;
}

.article-info-container h3 {
    font-size: 5vw;
}

.article-info-container p {
    font-size: 4vw;
}